body {
    font-family: system-ui;
    font-size:   11px;
}

/* ----------------------------------- */
/* Diagramation ---------------------- */
/* ----------------------------------- */

/* Level 0 --------------------------- */

#container {
    width:      100%;
    text-align: center;
}

/* Level 1 --------------------------- */

#panel {
    display:    inline-block;
    position:   relative;
    padding:    0px;
    margin:     10px;
    width:      1204px;
    height:     452px;/*452px 903px;*/
    background: gainsboro;
}

#underbar {
    display:    inline-block;
    position:   relative;
    padding:    0px;
    margin:     0px 10px 10px 10px;
    width:      1204px;
    text-align: right;
}

/* level 2 --------------------------- */

/*
#panel_operation {
    display: inline-block;
}
*/

#panel_advanced {
    position: absolute;
    bottom:   0px;
    display:  none;
}

#panel_loading {
    display:    inline-block;
    position:   absolute;
    padding:    0px;
    top:        0px;
    bottom:     0px;
    left:       0px;
    right:      0px;
    background: white;
    border:     1px solid black;
    z-index:    130;
}

/* Level 3 --------------------------- */

#loading_table {
    display: table;
    width:   100%;
    height:  100%;
}

#loading_table_cell {
    display:        table-cell;
    width:          100%;
    height:         100%;
    vertical-align: middle;
    text-align:     center;
}

#loading_table_cell.img {
    border: none;
}

div.panel_section {
    display:    block;
    position:   absolute;
    padding:    0px;
    margin:     0px;
}

#canvas {
    top:          0px;
    left:         0px;
    width:        602px;
    height:       452px;
    box-sizing:   border-box;
    border-style: solid;
    border-color: black;
    border-width: 1px 1px 1px 1px;
    z-index:      100;
    background:   gainsboro;
}

#operationalcontrol {
    top:          0px;
    left:         602px;
    width:        301px;
    height:       452px;
    box-sizing:   border-box;
    border-style: solid;
    border-color: black;
    border-width: 1px 1px 1px 0px;
    z-index:      110;
    background:   gainsboro;
}

#queue {
    top:          0px;
    right:        0px;
    width:        301px;
    height:       452px;
    box-sizing:   border-box;
    border-style: solid;
    border-color: black;
    border-width: 1px 1px 1px 0px;
    z-index:      120;
    background:   gainsboro;
}

#laser {
    bottom:       0px;
    left:         0px;
    width:        602px;
    height:       451px;
    box-sizing:   border-box;
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 1px;
    z-index:      0;  
}

#generator {
    bottom:       0px;
    left:         602px;
    width:        301px;
    height:       451px;
    box-sizing:   border-box;
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 0px;
    z-index:      10;
}

#attenuator {
    bottom:       0px;
    left:         903px;
    width:        301px;
    height:       451px;
    box-sizing:   border-box;
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 0px;
    z-index:      20;
}

/* Level 4 --------------------------- */

div.title {
    position:   relative;
    display:    block;
    top:        0%;
    left:       0%;
    width:      100%;
    height:     25px;
    background: lightslategray;
}

div.title_table {
    display:  table;
    position: relative;
    top:      0px;
    left:     0px;
    width:    100%;
    height:   100%;
}

div.title_table_cell {
    display:        table-cell;
    vertical-align: middle;
    text-align:     center;
    font-weight:    bold;
    font-size:      12px;
    height:         100%;
}

div.content {
    position:    absolute;
    top:         25px;
    bottom:      0px;
    width:       100%;
    padding-top: 2px;
    text-align:  center;
}

/* Canvas ---------------------------- */

/* Diagram --------------------------- */

#canvas_diagram {
    display:    block;
    position:   absolute;
    top:        0px;
    bottom:     0px;
    left:       0px;
    right:      0px;
    background: gainsboro;
    z-index:    140;
}

#diagram_drawing {
    position: absolute;
    top:      0px;
    bottom:   0px;
    left:     0px;
    right:    0px;
    bottom:   40px;
    padding:  20px 25px 0px 25px;
}

div.canvas_menu_diagram {
    position:   absolute;
    height:     26px;
    left:       0px;
    right:      0px;
    bottom:     0px;
    padding:    6px;
    text-align: right;
}

/* Temperature Plot ------------------ */

#canvas_plot {
    display:    block;
    position:   absolute;
    top:        0%;
    left:       0%;
    height:     100%;
    width:      100%;
    background: white;
    z-index:    130;
}

#plot_drawing {
    position: absolute;
    top:      0%;
    left:     0%;
    right:    0%;
    bottom:   40px;
    padding:  20px 25px 0px 25px;
}

div.canvas_menu_plot {
    position:   absolute;
    height:     26px;
    left:       0px;
    right:      0px;
    bottom:     0px;
    padding:    6px;
}

/* Laser ----------------------------- */

#laser_left {
    position:    absolute;
    top:         0px;
    left:        0px;
    height:      100%;
    width:       50%;
}

#laser_right {
    position:    absolute;
    top:         0px;
    right:       0px;
    height:      100%;
    width:       50%;
}

/* Generator ------------------------- */

#generator_ch1 {
    display:    block;
    position:   absolute;
    top:        0px;
    left:       0px;
    height:     100%;
    width:      100%;
    background: gainsboro;
    z-index:    40;
}

#generator_ch2 {
    display:    block;
    position:   absolute;
    top:        0px;
    left:       0px;
    height:     100%;
    width:      100%;
    background: gainsboro;
    z-index:    30;
}

/* Queue ----------------------------- */

#script_container {
    display:    inline-block;
    overflow-y: auto;
    width:      265px;
    height:     372px;
    box-sizing: border-box;
    border:     1px solid lightslategray;
}

#script {
    width:       100%;
    font-family: system-ui;
    font-size:   11px;
}

#script_status_reporting {
    text-align: center;
}

#script_status {
    font-weight: bold;
}

td.number {
    width:      25px;
    text-align: center;
}

tr.script_row {
    height: 13px;
}

td.time {
    width:      36px;
    text-align: center;
}

td.device {
    width:      28px;
    text-align: center;
}

td.action {
    text-align: Left;
}

td.icon {
    width:      13px;
    text-align: center;
}

/* Elements -------------------------- */

button.canvas_menu {
    border:      none;
    width:       82px;
    line-height: 26px;
    height:      26px;
    margin:      1px;
    text-align:  center;
    padding:     0px;
    outline:     none;
    background:  silver;
}

button.button_40 {
    width: 40px;
}

button.button_init {
    margin-left: 0px;
}

button.button_end {
    margin-right: 0px;
}

#H_advanced {
    border:      1px solid black;
    width:       131px;
    height:      25px;
    margin:      2px 0px 2px 0px;
    text-align:  center;
    padding:     0px;
    outline:     none;
    background:  gainsboro;
    display:     none;
}

button.device_action {
    border:      none;
    width:       131px;
    line-height: 19px;
    height:      19px;
    margin:      2px 0px 2px 0px;
    text-align:  center;
    padding:     0px;
    outline:     none;
    background:  silver;
}

button.attenuator_action {
    width:  64px;
    margin: 2px 1.5px 2px 1.5px;
}

button.dual_left {
    margin-right: 3px;
}

button.dual_right {
    margin-left: 0px;
}

button.canvas_menu:active,
button.device_action:active,
#H_advanced:active {
    background: olive;
}

ul.device {
    list-style-type: none;
    padding:         0px;
    margin:          0px;
}

li.device {
    list-style-type: none;
    padding:         0px;
    margin:          0px;
}

li.device_title {
    line-height: 23px;
    height:      23px;
    font-weight: bold;
}

span.label {
    display:     inline-block;
    width:       131px;
    text-align:  left;
    line-height: 21px;
    margin:      0px 2px 0px 0px;
}

input.info {
    width:      132.5px;
    margin:     2px 0px 2px 0px;
    text-align: center;
}
